<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-model="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="/css/index.css"/>
    <link type="text/css" rel="stylesheet" href="/third-party/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/third-party/font-awesome/css/font-awesome.min.css">
    <script type="text/javascript" src="/js/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="/third-party/vue/vue.js"></script>
    <script type="text/javascript" src="/third-party/layer/layer.js"></script>
    <title>项目文件提取打包</title>
</head>
<body>
<header th:include="common/header :: header"></header>
<div id="appDiv" class="content-center col-center-block">
    <div class="text-center content-header">
        <span class="h2">项目文件打包</span>
        <a class="btn-sm btn-primary" v-on:click="configUser(user)"><i class="fa fa-cog" aria-hidden="true"></i> SVN：{{user.username}}</a>
    </div>
    <div class="container-fluid">
        <!--版本列表-->
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="input-group schema-search-div" style="padding-bottom: 15px;">
                    <select id="projectSelect" v-model:value="projectSelect" class="input-group form-control">
                        <option v-for="(project, index) in projects" v-bind:value="index">
                            {{ project.name }} [{{ project.location }}]
                        </option>
                    </select>
                    <div class="btn-group input-group-append">
                        <button class="btn btn-outline-primary" @click="configProject(projects, projectSelect)" style=""><i class="fa fa-wrench" aria-hidden="true"></i> </button>
                    </div>
                </div>
                <table class="table table-hover">
                    <thead>
                    <tr class="text-center">
                        <th class="text-center">版本</th>
                        <th class="text-center">提交时间</th>
                        <th class="text-center">提交人</th>
                        <th class="text-center" style="padding-left: 0; padding-right:0;">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-if="logInfos.length > 0" v-for="(logInfo, index) in logInfos" @mouseover="logInfosHover(index)" class="text-center">
                        <td class="align-middle">#{{logInfo.revision}}</td>
                        <td class="align-middle">{{logInfo.date}}</td>
                        <td class="align-middle">{{logInfo.author}}</td>
                        <td style="padding-left: 0; padding-right:0;">
                            <button v-if="!logInfo.isSelected && logInfo.revision <= projects[projectSelect].lastPackRevision" class="btn-sm btn-outline-primary" @click="selectSvnLog(index)">选择 <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                            <button v-if="!logInfo.isSelected && logInfo.revision > projects[projectSelect].lastPackRevision" class="btn-sm btn-outline-success" @click="selectSvnLog(index)" title="上次打包之后的新提交">选择 <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                            <button v-if="logInfo.isSelected" class="btn-sm btn-outline-danger" @click="unSelectSvnLog(index)">取消 <i class="fa fa-chevron-left" aria-hidden="true"></i></button>
                        </td>
                    </tr>
                    <tr v-if="logInfos.length <= 0">
                        <td colspan="4" class="text-center">
                            <button class="btn btn-outline-success form-control" @click="listSvnLog(projectSelect)" style=""><i class="fa fa-search" aria-hidden="true"></i> 查询提交记录</button>
                        </td>
                    </tr>
                    <tr v-if="logInfos.length > 0 && !isLastLogInfo">
                        <td colspan="4" class="text-center">
                            <button class="btn btn-outline-success form-control" @click="listMoreLogInfo()" style=""><i class="fa fa-circle-o-notch" aria-hidden="true"></i> 加载更多</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!-- 版本详情 -->
            <div class="col-lg-4 col-md-4">
                <div class="" style="height: 53px;">
                    <button v-if="projects.length > 0 && projects[projectSelect].lastPackRevision != undefined" class="btn btn-outline-success form-control" @click="fastPackageUpdate(logInfoSelected)" style=""><i class="fa fa-rocket" aria-hidden="true"></i> 快速打包</button>
                </div>
                <div v-if="logInfo != null && logInfo.revision != undefined" style="border: 1px solid #dee2e6; padding: 0 10px 10px 10px;">
                    <div style="line-height: 24px; font-weight: bold; text-align: center; border-bottom: solid 2px #dee2e6; padding: 12px; margin-bottom: 12px;">
                        <span>#{{logInfo.revision}}版本信息</span>
                    </div>
                    <span>版本号：#{{logInfo.revision}}</span><br/>
                    <span>提交人：{{logInfo.author}}</span><br/>
                    <span>提交时间：{{logInfo.date}}</span><br/>
                    <span>提交说明：{{logInfo.remark}}</span><br/>
                    <span>涉及文件：</span>
                    <table style="table-layout: fixed; word-wrap: break-word; width: 100%; max-width: 100%;">
                        <tr>
                            <th style="width: 10%;">序号</th>
                            <th style="width: 10%;">类型</th>
                            <th style="width: 80%;">文件路径</th>
                        </tr>
                        <tr v-for="(file, index) in logInfo.files" style="vertical-align: top;">
                            <td>{{index + 1}}/{{logInfo.files.length}}</td>
                            <td>{{file.changeTypeStr}}</td>
                            <td>{{file.path}}</td>
                        </tr>
                    </table>
                </div>
            </div>

            <!-- 打包详情 -->
            <div class="col-lg-4 col-md-4">
                <div v-if="logInfoSelected != null && logInfoSelected.revision != undefined">
                    <div class="" style="height: 53px;">
                        <button class="btn btn-outline-primary form-control" @click="packageUpdate(logInfoSelected)" style=""><i class="fa fa-send-o" aria-hidden="true"></i> 打包</button>
                    </div>
                    <div style="border: 1px solid #dee2e6; padding: 0 10px 10px 10px;">
                        <div style="line-height: 24px; font-weight: bold; text-align: center; border-bottom: solid 2px #dee2e6; padding: 12px; margin-bottom: 12px;">
                            <span>打包相关信息</span>
                        </div>
                        <span>最新版本号：#{{logInfoSelected.revision}}</span><br/>
                        <span>最新提交人：{{logInfoSelected.author}}</span><br/>
                        <span>最后提交时间：{{logInfoSelected.date}}</span><br/>
                        <span>最后提交说明：{{logInfoSelected.remark}}</span><br/>
                        <span>打包涉及文件：</span>
                        <table style="table-layout: fixed; word-wrap: break-word; width: 100%; max-width: 100%;">
                            <tr>
                                <th style="width: 10%;">序号</th>
                                <th style="width: 10%;">类型</th>
                                <th style="width: 80%;">文件路径</th>
                            </tr>
                            <tr v-for="(file, index) in logInfoSelected.files" style="vertical-align: top;">
                                <td>{{index + 1}}/{{logInfoSelected.files.length}}</td>
                                <td>{{file.changeTypeStr}}</td>
                                <td>{{file.path}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="svnAccount" style="display: none;">
    <div class="container" style="padding: 20px;">
        <form class="form-horizontal" role="form">
            <div class="form-group row">
                <div class="col-sm-3 m-auto">
                    <span for="username" class="control-label text-right">用户名：</span>
                </div>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="username" v-model="user.username" placeholder="请输入用户名">
                </div>
            </div>
            <div class="form-group row">
                <span for="password" class="col-sm-3 control-label m-auto text-right">密码：</span>
                <div class="col-sm-9">
                    <input type="password" class="form-control" id="password" v-model="user.password"
                           placeholder="请输入密码">
                </div>
            </div>
            <div class="form-group row">
                <span for="location" class="col-sm-3 control-label m-auto text-right">地址：</span>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="location" v-model="user.location"
                           placeholder="SVN项目地址或SVN地址">
                </div>
            </div>
        </form>
    </div>
</div>
<div id="svnProject" style="display: none;">
    <div class="container" style="padding: 20px;">
        <form class="form-horizontal" role="form">
            <div class="form-group row">
                <div class="col input-group">
                    <select id="projectSelectLocation" v-model:value="projectSelect" @change="configProjectChange(projectSelect)" class="input-group form-control">
                        <option v-for="(project, index) in projects" v-bind:value="index">
                            {{ project.name }} [{{ project.location }}]
                        </option>
                    </select>
                    <div class="btn-group input-group-append">
                        <button type="button" class="btn btn-success" @click="newProject" style=""><i class="fa fa-plus" aria-hidden="true"></i> 新增</button>
                        <button type="button" class="btn btn-danger" @click="deleteProject(projectSelect)" style=""><i class="fa fa-trash" aria-hidden="true"></i> 删除</button>
                        <button type="button" class="btn btn-primary" @click="copyProject(project)" style=""><i class="fa fa-clone" aria-hidden="true"></i> 另存为</button>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="form-group row">
                <div class="col-sm-3 m-auto text-right">
                    <span for="projectName" class="control-label">名称：</span>
                </div>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="projectName" v-model="project.name" placeholder="如 大厅管理系统">
                </div>
            </div>
            <div class="form-group row">
                <span for="projectSelect" class="col-sm-3 control-label m-auto text-right">项目文件夹路径：</span>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="projectLocation" v-model="project.location" placeholder="如 D:/code/project_a">
                </div>
            </div>
            <div class="form-group row">
                <span class="col-sm-3 control-label m-auto text-right">JAVA源码路径：</span>
                <div class="col-sm-9">
                    <div style="line-height: 40px;">
                        <span v-for="(javaPath, index) in project.javaPath" @click="removeJavaPath(index)" class="btn-sm btn-success" style="margin-right: 10px;">{{javaPath}} <i class="fa fa-times" aria-hidden="true"></i></span>
                    </div>
                    <div class="input-group">
                        <input type="text" class="form-control" v-model="javaPathAdd" @keyup.enter="addJavaPath(javaPathAdd)" placeholder="如 /system_src（与项目文件夹路径的相对路径）">
                        <span class="btn btn-primary" @click="addJavaPath(javaPathAdd)"><i class="fa fa-plus" aria-hidden="true"></i> 添加</span>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <span for="projectSelect" class="col-sm-3 control-label m-auto text-right">编译文件输出路径：</span>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="projectCompilePath" v-model="project.compilePath" placeholder="如 /WebRoot/WEB-INF/classes（与项目文件夹路径的相对路径）">
                </div>
            </div>
            <div class="form-group row">
                <span for="projectSelect" class="col-sm-3 control-label m-auto text-right">文件打包输出路径：</span>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="projectOutputPath" v-model="project.outputPath" placeholder="如 F:/project/output">
                </div>
            </div>
            <div class="form-group row">
                <span for="lastPackRevision" class="col-sm-3 control-label m-auto text-right">上一次打包版本号：</span>
                <div class="col-sm-9 input-group">
                    <span class="input-group-prepend btn btn-light">#</span>
                    <input type="text" class="form-control" id="lastPackRevision" v-model="project.lastPackRevision" disabled="disabled" placeholder="">
                </div>
            </div>
            <div class="form-group row">
                <span for="projectSelect" class="col-sm-3 control-label m-auto text-right">打包后打开文件夹：</span>
                <div class="col-sm-9">
                    <input type="checkbox" class="" id="openDir" v-model="project.openDir" value="true">
                    <label for="openDir">打开</label>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    var vueApp;
    $(function () {
        vueApp = new Vue({
            el: "#appDiv",
            data: {
                user: {},
                projectSelect: null,
                projects: [],
                logInfos: [],
                logInfosHoverIndex: 0,
                logInfo: {},
                logInfoSelected: {},
                isLastLogInfo: false
            },
            methods: {
                /**
                 * 获取提交记录列表
                 * @param projectSelect 选择的项目配置列表的索引
                 */
                listSvnLog: function (projectSelect) {
                    var url = "/pack/listSvnLog";
                    $.post(url, {projectSelect: projectSelect}, function (result) {
                        if (result.success) {
                            vueApp.logInfos = result.infos;

                            // 重置已选择的版本
                            vueApp.logInfoSelected = {};
                            if (vueApp.logInfos.length > 0) {
                                // 重置中部版本信息为第一个版本信息
                                vueApp.logInfosHoverIndex = 0;
                                vueApp.logInfo = vueApp.logInfos[vueApp.logInfosHoverIndex];
                            }

                            if (result.infos.length < 10) {
                                vueApp.isLastLogInfo = true;
                            } else {
                                vueApp.isLastLogInfo = false;
                            }
                        } else {
                            layer.msg("获取提交记录失败！" + result.msg, {icon: 2});
                        }
                    });
                },
                configUser: function (user) {
                    configUserVue.$data.user = clone(user);
                    layer.open({
                        type: 1,
                        title: "配置SVN账户信息",
                        area: ["400px", "300px"],
                        content: $("#svnAccount"),
                        btn: ["测试", "保存", "取消"],
                        btn1: function () {
                            configUserVue.testConfig();
                            return false;
                        },
                        btn2: function (index) {
                            configUserVue.saveConfig();
                            layer.close(index);
                        },
                        cancel: function (index) {
                            // 点击关闭按钮
                            layer.close(index);
                        }
                    });
                },
                configProject: function (projects, projectSelect) {
                    if (projectSelect === null || projectSelect === undefined || projectSelect === '') {
                        projectSelect = 0;
                    }
                    configProjectVue.$data.projects = clone(projects);
                    configProjectVue.$data.projectSelect = projectSelect;
                    configProjectVue.$data.project = configProjectVue.$data.projects[projectSelect];
                    layer.open({
                        type: 1,
                        title: "配置项目信息",
                        area: ["800px", "550px"],
                        content: $("#svnProject"),
                        btn: ["保存", "取消"],
                        btn1: function (index) {
                            configProjectVue.saveConfig();
                            layer.close(index);
                        },
                        btn2: function () {
                        }
                    });
                },
                logInfosHover: function(index){
                    if (this.logInfosHoverIndex !== index) {
                        this.logInfo = this.logInfos[index];
                        this.logInfosHoverIndex = index;
                    }
                },
                selectSvnLog: function(index) {
                    this.logInfos[index].isSelected = true;
                    this.updateLogInfoSelected()
                },
                unSelectSvnLog: function(index) {
                    this.logInfos[index].isSelected = false;
                    this.updateLogInfoSelected()
                },
                updateLogInfoSelected: function () {
                    var latestInfo = {};
                    var files = [];
                    for (var i = 0; i < this.logInfos.length; i++) {
                        var curInfo = this.logInfos[i];
                        if (curInfo.isSelected) {
                            if (latestInfo.revision === undefined || curInfo.revision > latestInfo.revision) {
                                latestInfo = clone(curInfo);
                            }

                            for (var i3 = 0; i3 < curInfo.files.length; i3++) {
                                var curFile = curInfo.files[i3];
                                var existsFile = null;
                                for (var i2 = 0; i2 < files.length; i2++) {
                                    if (files[i2].path === curFile.path) {
                                        existsFile = curFile;
                                        break;
                                    }
                                }

                                if (existsFile !== null && curFile.revision > existsFile.revision) {
                                    // 以新版本为先
                                    files.splice(files.indexOf(existsFile), 1);
                                    files.push(curFile);
                                } else if (existsFile === null) {
                                    files.push(curFile);
                                }
                            }
                        }
                    }
                    latestInfo.files = files;
                    this.logInfoSelected = clone(latestInfo);
                },
                packageUpdate: function(logInfoSelected){
                    var data = {
                        config: this.projects[this.projectSelect],
                        info: logInfoSelected
                    };
                    $.ajax({
                        type: "POST",
                        url: "/pack/packageUpdate",
                        data: JSON.stringify(data),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (result) {
                            if (result.success) {
                                layer.msg("打包完毕！", {icon: 1});
                                vueApp.projects = result.projects;
                            } else {
                                layer.msg("打包失败！" + result.msg, {icon: 2});
                            }
                        }
                    });
                },
                fastPackageUpdate: function(){
                    if(this.projects.length < 1 || this.projects[this.projectSelect] == undefined || this.projects[this.projectSelect].lastPackRevision == undefined) {
                        layer.msg("无上次打包版本，快速打包失败！", {icon: 2});
                        return;
                    }

                    var newRevisionCount = 0;
                    for (var i = 0; i < this.logInfos.length; i++) {
                        var curInfo = this.logInfos[i];
                        if (curInfo.revision > this.projects[this.projectSelect].lastPackRevision) {
                            curInfo.isSelected = true;
                            newRevisionCount ++;
                        } else {
                            curInfo.isSelected = false;
                        }
                    }

                    this.updateLogInfoSelected();

                    if (newRevisionCount > 0) {
                        this.packageUpdate(this.logInfoSelected);
                    } else {
                        layer.msg("继上次打包后无更新版本，快速打包失败。<br/>请选择需要打包的版本进行打包。", {icon: 2});
                    }
                },
                listMoreLogInfo: function(){
                    var data = {
                        projectSelect: vueApp.projectSelect,
                        lastRevision: vueApp.logInfos[vueApp.logInfos.length - 1].revision - 1
                    };
                    $.post("/pack/listMoreSvnLog", data, function (result) {
                        if (result.success) {
                            if (result.infos !== undefined && result.infos.length > 0) {
                                for (var i = 0; i < result.infos.length; i++) {
                                    vueApp.logInfos.push(result.infos[i]);
                                }
                            }

                            if (result.infos.length < 10) {
                                vueApp.isLastLogInfo = true;
                            }
                        } else {
                            layer.msg("打包失败！" + result.msg, {icon: 2});
                        }
                    });
                }
            },
            watch: {
                projectSelect: function(projectSelect){
                    this.listSvnLog(projectSelect)
                }
            },
            created: function(){
                var userUrl = "/pack/getSvnConfig";
                $.post(userUrl, {}, function (result) {
                    if (result.success) {
                        vueApp.user = result.user;
                    } else {
                        layer.msg("获取SVN用户失败！" + result.msg, {icon: 2});
                    }
                });

                var configUrl = "/pack/getProjectConfig";
                $.post(configUrl, {}, function (result) {
                    if (result.success) {
                        vueApp.projects = result.configs;
                        for (var i = 0; i < vueApp.projects.length; i++) {
                            if (vueApp.projects[i].isLastPack) {
                                vueApp.projectSelect = i;
                                break;
                            }
                        }

                        // 无上次最后打开，则选择第一个
                        if (null === vueApp.projectSelect && vueApp.projects.length > 0) {
                            vueApp.projectSelect = 0;
                        }
                    } else {
                        layer.msg("获取项目配置信息失败！" + result.msg, {icon: 2});
                    }
                });
            }
        });
    });

    var configUserVue = new Vue({
        el: "#svnAccount",
        data: {
            user: {}
        },
        methods: {
            testConfig: function() {
                var data = {
                    "username": this.user.username,
                    "password": this.user.password,
                    "location": this.user.location
                };
                $.ajax({
                    type: "POST",
                    url: "/pack/testSvnConfig",
                    data: JSON.stringify(data),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        if (result.success) {
                            layer.msg("测试成功！", {icon: 1});
                        } else {
                            layer.msg("测试失败！" + result.msg, {icon: 2});
                        }
                    }
                });
            },
            saveConfig: function() {
                var data = {
                    username: this.user.username,
                    password: this.user.password,
                    location: this.user.location
                };
                $.ajax({
                    type: "POST",
                    url: "/pack/saveSvnConfig",
                    data: JSON.stringify(data),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        if (result.success) {
                            layer.msg(result.msg, {icon: 1});
                            vueApp.user = clone(configUserVue.user);
                        } else {
                            layer.msg("测试失败！" + result.msg, {icon: 2});
                        }
                    }
                });
            }
        }
    });

    var configProjectVue = new Vue({
        el: "#svnProject",
        data: {
            project: {},
            projects:[],
            javaPathAdd: "",
            projectSelect: ""
        },
        methods: {
            addJavaPath: function(javaPathAdd){
                if (null == javaPathAdd || '' === javaPathAdd) {
                    layer.msg("添加的路径不能为空！", {icon: 0});
                    return;
                } else if (this.project.javaPath != null && this.project.javaPath.indexOf(javaPathAdd) > -1) {
                    layer.msg(this.javaPathAdd + "已存在！", {icon: -1});
                    return;
                }

                if (this.project.javaPath === null || this.project.javaPath === undefined) {
                    this.project.javaPath = [];
                }
                this.project.javaPath.push(javaPathAdd);
                this.javaPathAdd = "";
            },
            removeJavaPath: function(index){
                this.project.javaPath.splice(index, 1)
            },
            configProjectChange: function(projectSelect) {
                this.project = this.projects[projectSelect];
            },
            newProject: function(){
                this.project = {name: '新项目'};
                this.projects.push(this.project);
                this.projectSelect = this.projects.length - 1;
            },
            deleteProject: function(projectSelect){
                this.projects.splice(projectSelect, 1);
                if (projectSelect >= this.projects.length) {
                    this.projectSelect = this.projects.length - 1;
                }
                this.project = this.projects[this.projectSelect];

            },
            copyProject: function(project){
                var newProject = clone(project);
                newProject.name = newProject.name + "2";
                this.project = newProject;
                this.projects.push(newProject);
                this.projectSelect = this.projects.length - 1;
            },
            saveConfig: function() {
                var url = "/pack/saveProjectConfig";
                $.post(url, {configs: JSON.stringify(configProjectVue.projects)}, function (result) {
                    if (result.success) {
                        vueApp.projects = clone(configProjectVue.$data.projects);
                        vueApp.projectSelect = configProjectVue.$data.projectSelect;
                        vueApp.project = vueApp.projects[vueApp.projectSelect];
                        layer.msg(result.msg, {icon: 1});
                    } else {
                        layer.msg("测试失败！" + result.msg, {icon: 2});
                    }
                });
            }
        }
    });

    function clone(obj) {
        var obj2;
        switch (typeof obj) {
            case 'undefined':
                break;
            case 'string'   :
                obj2 = obj + '';
                break;
            case 'number'   :
                obj2 = obj - 0;
                break;
            case 'boolean'  :
                obj2 = obj;
                break;
            case 'object'   :
                if (obj === null) {
                    obj2 = null;
                } else {
                    if (obj instanceof Array) {
                        obj2 = [];
                        for (var i = 0, len = obj.length; i < len; i++) {
                            obj2.push(clone(obj[i]));
                        }
                    } else {
                        obj2 = {};
                        for (var k in obj) {
                            obj2[k] = clone(obj[k]);
                        }
                    }
                }
                break;
            default:
                obj2 = obj;
                break;
        }
        return obj2;
    }
</script>
</body>
</html>