<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-model="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="/css/index.css"/>
    <link type="text/css" rel="stylesheet" href="/third-party/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/third-party/font-awesome/css/font-awesome.min.css">
    <script type="text/javascript" src="/js/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="/third-party/vue/vue.js"></script>
    <script type="text/javascript" src="/third-party/layer/layer.js"></script>
    <title>项目文件提取</title>
</head>
<body>
<header th:include="common/header :: header"></header>
<div id="appDiv" class="content-center col-center-block">
    <div class="text-center content-header">
        <span class="h2">项目文件打包</span>
        <a class="btn-sm btn-primary" v-on:click="configUser(user)"><i class="fa fa-cog" aria-hidden="true"></i> SVN：{{user.username}}</a>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="input-group schema-search-div" style="width: 33%; padding:15px 15px 15px 0;">
                    <select id="projectSelect" v-model:value="projectSelect" class="input-group form-control">
                        <option v-for="(project, index) in projects" v-bind:value="index">
                            {{ project.name }} [{{ project.location }}]
                        </option>
                    </select>
                    <div class="btn-group input-group-append">
                        <button class="btn btn-success" @click="listSvnLog(projectSelect)" style=""><i class="fa fa-search" aria-hidden="true"></i></button>
                        <button class="btn btn-primary" @click="configProject(projects, projectSelect)" style=""><i class="fa fa-wrench" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <table class="table table-light">
                    <thead>
                    <tr class="text-center">
                        <th style="width: 100px" class="text-center">版本号</th>
                        <th class="text-center">提交时间</th>
                        <th class="text-center">提交人</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-if="logInfos.length > 0" v-for="(logInfo, index) in logInfos" class="text-center">
                        <td class="align-middle">#{{logInfo.revision}}</td>
                        <td class="align-middle">{{logInfo.date}}</td>
                        <td class="align-middle">{{logInfo.author}}</td>
                        <!--<td><span class="btn btn-outline-success"><i class="fa fa-chevron-right" aria-hidden="true"></i></i> 选择</span></td>-->
                    </tr>
                    <tr v-if="logInfos.length <= 0">
                        <td colspan="3" class="text-center">
                            <span v-if="searchText==''">正在努力的加载数据...</span>
                            <span v-if="searchText!=''"><label>{{searchText}}</label> 无匹配数据.</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-8 col-md-8">
                <!--<div class="input-group schema-search-div">
                    <button class="btn btn-dark form-control disabled" v-if="schemasSelect.length <= 0">
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        下一步
                    </button>
                    <button class="btn btn-success form-control" v-if="schemasSelect.length > 0" @click="dbNext">
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        下一步
                    </button>
                </div>
                <table class="table table-light">
                    <thead>
                    <tr class="text-center">
                        <th style="width: 100px" class="text-center">序号</th>
                        <th class="text-center">模式名</th>
                        <th class="text-center">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-if="schemasSelect.length > 0" v-for="(schemaStr, index) in schemasSelect" class="text-center">
                        <td class="align-middle">{{index + 1}}/{{schemasSelect.length}}</td>
                        <td class="align-middle">{{schemaStr}}</td>
                        <td><span class="btn btn-outline-danger" v-on:click="removeSchema(index)">
                            <i class="fa fa-chevron-left" aria-hidden="true"></i></i> 取消</span></td>
                    </tr>
                    <tr v-if="schemasSelect.length <= 0">
                        <td colspan="3" class="text-center">
                            <span>请选择需要导出的数据库模式...</span>
                        </td>
                    </tr>
                    </tbody>
                </table>-->
            </div>
        </div>
    </div>
</div>
<div id="svnAccount" style="display: none;">
    <div class="container" style="padding: 20px;">
        <form class="form-horizontal" role="form">
            <div class="form-group row">
                <div class="col-sm-3 m-auto">
                    <span for="username" class="control-label text-right">用户名：</span>
                </div>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="username" v-model="user.username" placeholder="请输入用户名">
                </div>
            </div>
            <div class="form-group row">
                <span for="password" class="col-sm-3 control-label m-auto text-right">密码：</span>
                <div class="col-sm-9">
                    <input type="password" class="form-control" id="password" v-model="user.password"
                           placeholder="请输入密码">
                </div>
            </div>
            <div class="form-group row">
                <span for="location" class="col-sm-3 control-label m-auto text-right">地址：</span>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="location" v-model="user.location"
                           placeholder="SVN项目地址或SVN地址">
                </div>
            </div>
        </form>
    </div>
</div>
<div id="svnProject" style="display: none;">
    <div class="container" style="padding: 20px;">
        <form class="form-horizontal" role="form">
            <div class="form-group row">
                <div class="col input-group">
                    <select id="projectSelectLocation" v-model:value="projectSelect" @change="configProjectChange(projectSelect)" class="input-group form-control">
                        <option v-for="(project, index) in projects" v-bind:value="index">
                            {{ project.name }} [{{ project.location }}]
                        </option>
                    </select>
                    <div class="btn-group input-group-append">
                        <button type="button" class="btn btn-success" @click="newProject" style=""><i class="fa fa-plus" aria-hidden="true"></i> 新增</button>
                        <button type="button" class="btn btn-danger" @click="deleteProject(projectSelect)" style=""><i class="fa fa-trash" aria-hidden="true"></i> 删除</button>
                        <button type="button" class="btn btn-primary" @click="copyProject(project)" style=""><i class="fa fa-clone" aria-hidden="true"></i> 另存为</button>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="form-group row">
                <div class="col-sm-3 m-auto text-right">
                    <span for="projectName" class="control-label">名称：</span>
                </div>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="projectName" v-model="project.name" placeholder="如 大厅管理系统">
                </div>
            </div>
            <div class="form-group row">
                <span for="projectSelect" class="col-sm-3 control-label m-auto text-right">项目文件夹路径：</span>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="projectLocation" v-model="project.location" placeholder="如 D:/code/project_a">
                </div>
            </div>
            <div class="form-group row">
                <span class="col-sm-3 control-label m-auto text-right">JAVA源码路径：</span>
                <div class="col-sm-9">
                    <div style="line-height: 40px;">
                        <span v-for="(javaPath, index) in project.javaPath" @click="removeJavaPath(index)" class="btn-sm btn-success" style="margin-right: 10px;">{{javaPath}} <i class="fa fa-times" aria-hidden="true"></i></span>
                    </div>
                    <div class="input-group">
                        <input type="text" class="form-control" v-model="javaPathAdd" @keyup.enter="addJavaPath(javaPathAdd)" placeholder="如 /system_src（与项目文件夹路径的相对路径）">
                        <span class="btn btn-primary" @click="addJavaPath(javaPathAdd)"><i class="fa fa-plus" aria-hidden="true"></i> 添加</span>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <span for="projectSelect" class="col-sm-3 control-label m-auto text-right">编译文件输出路径：</span>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="projectCompilePath" v-model="project.compilePath" placeholder="如 /WebRoot/WEB-INF/classes（与项目文件夹路径的相对路径）">
                </div>
            </div>
            <div class="form-group row">
                <span for="projectSelect" class="col-sm-3 control-label m-auto text-right">文件打包输出路径：</span>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="projectOutputPath" v-model="project.outputPath" placeholder="如 F:/project/output">
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    var vueApp;
    $(function () {
        vueApp = new Vue({
            el: "#appDiv",
            data: {
                message: 'hello, souco ,this is vue!',
                hasSchemas: false,
                schemasShow: [],
                schemasSelect: [],
                schemas: [],
                searchText: '',
                user: {
                    username: 'souco',
                    password: '123',
                    location: "G:/code/project"
                },
                projectSelect: "",
                projects: [
                    {
                        name: '四川审批',
                        location: 'D:/code/sc_sp',
                        javaPath: [
                            "src",
                            "src2"
                        ],
                        compilePath: "",
                        outputPath: ""
                    }, {
                        name: '开心项目',
                        location: 'F:/happy/project',
                        javaPath: [
                            "src",
                            "src3"
                        ],
                        compilePath: "/WebRoot/WEB-INF/classes",
                        outputPath: "F:/happy/output"
                    }
                ],
                logInfos: []
            },
            methods: {
                listSvnLog: function (projectSelect) {
                    var url = "/pack/listSvnLog";
                    $.post(url, {projectSelect: projectSelect}, function (result) {
                        if (result.success) {
                            vueApp.logInfos = result.infos;
                        } else {
                            layer.msg("测试失败！" + result.msg, {icon: 2});
                        }
                    });
                },
                configUser: function (user) {
                    configUserVue.$data.user = clone(user);
                    layer.open({
                        type: 1,
                        title: "配置SVN账户信息",
                        area: ["400px", "300px"],
                        content: $("#svnAccount"),
                        btn: ["测试", "保存", "取消"],
                        btn1: function () {
                            configUserVue.testConfig();
                            return false;
                        },
                        btn2: function (index) {
                            configUserVue.saveConfig();
                            layer.close(index);
                        },
                        cancel: function (index) {
                            // 点击关闭按钮
                            layer.close(index);
                        }
                    });
                },
                configProject: function (projects, projectSelect) {
                    if (projectSelect === null || projectSelect === undefined || projectSelect === '') {
                        projectSelect = 0;
                    }
                    configProjectVue.$data.projects = clone(projects);
                    configProjectVue.$data.projectSelect = projectSelect;
                    configProjectVue.$data.project = configProjectVue.$data.projects[projectSelect];
                    layer.open({
                        type: 1,
                        title: "配置项目信息",
                        area: ["800px", "500px"],
                        content: $("#svnProject"),
                        btn: ["保存", "取消"],
                        btn1: function (index) {
                            configProjectVue.saveConfig();
                            layer.close(index);
                        },
                        btn2: function () {
                            console.log("close ...");
                        }
                    });
                }
            },
            created: function(){
                var userUrl = "/pack/getSvnConfig";
                $.post(userUrl, {}, function (result) {
                    console.log(result);
                    if (result.success) {
                        vueApp.user = result.user;
                    } else {
                        layer.msg("获取SVN用户失败！" + result.msg, {icon: 2});
                    }
                });

                var configUrl = "/pack/getProjectConfig";
                $.post(configUrl, {}, function (result) {
                    console.log(result);
                    if (result.success) {
                        vueApp.projects = result.configs;
                        if (vueApp.projects.length > 0) {
                            vueApp.projectSelect = 0;
                        }
                    } else {
                        layer.msg("获取项目配置信息失败！" + result.msg, {icon: 2});
                    }
                });
            }
        });
    });

    var configUserVue = new Vue({
        el: "#svnAccount",
        data: {
            user: {}
        },
        methods: {
            testConfig: function() {
                var url = "/pack/testSvnConfig";
                var data = {
                    username: this.user.username,
                    password: this.user.password,
                    location: this.user.location
                };
                $.post(url, {user: data}, function (result) {
                    if (result.success) {
                        layer.msg("测试成功！", {icon: 1});
                    } else {
                        layer.msg("测试失败！" + result.msg, {icon: 2});
                    }
                });
            },
            saveConfig: function() {
                var url = "/pack/saveSvnConfig";
                var data = {
                    username: this.user.username,
                    password: this.user.password,
                    location: this.user.location
                };
                $.post(url, data, function (result) {
                    console.log(result);
                    if (result.success) {
                        layer.msg(result.msg, {icon: 1});
                        vueApp.user = clone(configUserVue.user);
                    } else {
                        layer.msg("测试失败！" + result.msg, {icon: 2});
                    }
                });
            }
        }
    });

    var configProjectVue = new Vue({
        el: "#svnProject",
        data: {
            project: {},
            projects:[],
            javaPathAdd: "",
            projectSelect: ""
        },
        methods: {
            addJavaPath: function(javaPathAdd){
                if (null == javaPathAdd || '' === javaPathAdd) {
                    layer.msg("添加的路径不能为空！", {icon: 0});
                    return;
                } else if (this.project.javaPath != null && this.project.javaPath.indexOf(javaPathAdd) > -1) {
                    layer.msg(this.javaPathAdd + "已存在！", {icon: -1});
                    return;
                }

                if (this.project.javaPath === null || this.project.javaPath === undefined) {
                    this.project.javaPath = [];
                }
                this.project.javaPath.push(javaPathAdd);
                this.javaPathAdd = "";
            },
            removeJavaPath: function(index){
                this.project.javaPath.splice(index, 1)
            },
            configProjectChange: function(projectSelect) {
                this.project = this.projects[projectSelect];
            },
            newProject: function(){
                this.project = {name: '新项目'};
                this.projects.push(this.project);
                this.projectSelect = this.projects.length - 1;
            },
            deleteProject: function(projectSelect){
                this.projects.splice(projectSelect, 1);
                if (projectSelect >= this.projects.length) {
                    this.projectSelect = this.projects.length - 1;
                }
                this.project = this.projects[this.projectSelect];

            },
            copyProject: function(project){
                var newProject = clone(project);
                newProject.name = newProject.name + "2";
                this.project = newProject;
                this.projects.push(newProject);
                this.projectSelect = this.projects.length - 1;
            },
            saveConfig: function() {
                var url = "/pack/saveProjectConfig";
                $.post(url, {configs: JSON.stringify(configProjectVue.projects)}, function (result) {
                    if (result.success) {
                        vueApp.projects = clone(configProjectVue.$data.projects);
                        vueApp.projectSelect = configProjectVue.$data.projectSelect;
                        vueApp.project = vueApp.projects[vueApp.projectSelect];
                        layer.msg(result.msg, {icon: 1});
                    } else {
                        layer.msg("测试失败！" + result.msg, {icon: 2});
                    }
                });
            }
        }
    });

    function clone(obj) {
        var obj2;
        switch (typeof obj) {
            case 'undefined':
                break;
            case 'string'   :
                obj2 = obj + '';
                break;
            case 'number'   :
                obj2 = obj - 0;
                break;
            case 'boolean'  :
                obj2 = obj;
                break;
            case 'object'   :
                if (obj === null) {
                    obj2 = null;
                } else {
                    if (obj instanceof Array) {
                        obj2 = [];
                        for (var i = 0, len = obj.length; i < len; i++) {
                            obj2.push(clone(obj[i]));
                        }
                    } else {
                        obj2 = {};
                        for (var k in obj) {
                            obj2[k] = clone(obj[k]);
                        }
                    }
                }
                break;
            default:
                obj2 = obj;
                break;
        }
        return obj2;
    }
</script>
</body>
</html>