<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>模式</title>
    <link type="text/css" rel="stylesheet" href="/css/index.css"/>
    <link type="text/css" rel="stylesheet" href="/third-party/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/third-party/font-awesome/css/font-awesome.min.css">
    <script type="text/javascript" src="/js/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="/third-party/vue/vue.js"></script>
    <style>
        .index-box {
            padding: 30px 0;
        }

        .index-box a {
            padding: 10px;
            font-size: 20px;
            font-family: "LUCIDA CONSOLE",monospace;
        }
    </style>
</head>
<body>
<div id="content-container">
    <header th:include="common/header :: header"></header>
    <div id="appDiv" class="content-center col-center-block">
        <div class="text-center index-box">
            <a href="/pack/" class="btn btn-primary" style="font-family: '微软雅黑 Light', monospace;">SVN文件提取</a>
            <a href="/db/" class="btn btn-primary" style="font-family: '微软雅黑 Light', monospace;">数据库文档</a>
        </div>
    </div>
</div>

<script>
    var vueApp;
    $(function () {
        vueApp = new Vue({
            el: "#appDiv"
        });
    });
</script>
</body>
</html>