<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml"
      xmlns:v-model="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>数据表</title>
    <link type="text/css" rel="stylesheet" href="/css/db.css"/>
    <link type="text/css" rel="stylesheet" href="/third-party/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/third-party/font-awesome/css/font-awesome.min.css">
    <script type="text/javascript" src="/js/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="/third-party/vue/vue.js"></script>
    <script>

        var vueApp;
        var initDatabase = {};
        initDatabase.schemas = [];
        $(function () {
            vueApp = new Vue({
                el: "#appDiv",
                data: {
                    message: 'hello, souco ,this is vue!',
                    hasSchemas: false,
                    database: {
                        schemas: []
                    },
                    schemaSelect: 0,
                    searchText: ""
                },
                computed: {
                },
                methods: {
                    excludeTable: function (index) {
                        if (this.database.schemas.length < 1) {
                            return;
                        }
                        console.log("excludeTable");

                        var element = this.database.schemas[this.schemaSelect].tables.splice(index, 1);
                        this.database.schemas[this.schemaSelect].excluded.push(element[0].name);
                        this.database.schemas[this.schemaSelect].excluded.sort();
                        this.database.schemas[this.schemaSelect].tables.sort();
                        this.filterTables();
                    },
                    includeTable: function(index){
                        if (this.database.schemas.length < 1) {
                            return;
                        }
                        console.log("includeTable...");

                        var element = this.database.schemas[this.schemaSelect].excluded.splice(index, 1);
                        var includeTable = {};
                        includeTable.name = element[0];
                        this.database.schemas[this.schemaSelect].tables.push(includeTable);
                        this.database.schemas[this.schemaSelect].tables.sort();
                        this.filterTables();
                    },
                    filterTables: function(){
                        /*var result = [];
                        if ((null === this.searchText || '' === this.searchText) && this.schemasSelect.length === 0) {
                            result = this.schemas.slice();
                        } else {
                            for(var i= 0; i < this.schemas.length; i++){
                                var value = this.schemas[i].toUpperCase();

                                // 排除掉已选择的
                                var hasSelect = false;
                                for (var index in this.schemasSelect) {
                                    if (value === this.schemasSelect[index].toUpperCase()) {
                                        hasSelect = true;
                                        break;
                                    }
                                }

                                if (!hasSelect && value.indexOf(this.searchText.toUpperCase()) > -1) {
                                    result.push(this.schemas[i]);
                                }
                            }
                        }
                        result.sort();
                        this.schemasShow = result;*/
                    },
                    dbNext: function(){
                        $.ajax({
                            type: "POST",
                            data: {schemas: this.schemasSelect},
                            url: "/api/db/template/select",
                            success: function (result, textStatus, jqXHR) {
                                if (result.success) {
                                    window.location.href = "/tables";
                                } else {
                                    layer.alert(result.msg);
                                }
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                console.error(jqXHR);
                                console.error(textStatus);
                                console.error(errorThrown);
                                alert('获取数据库信息失败，错误信息： ' + textStatus);
                            }
                        });
                    }
                }
            });

            $.ajax({
                type: "GET",
                url: "/api/db/tables",
                success: function (result) {
                    console.log(result);
                    if (result.success) {
                        vueApp.database = result.database;
                        vueApp.filterTables();
                    } else {
                        layer.alert("获取数据库表信息失败！失败信息：" + result.msg)
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.error(jqXHR);
                    console.error(textStatus);
                    console.error(errorThrown);
                    alert('获取数据库信息失败，错误信息： ' + textStatus);
                }
            });
        });
    </script>
</head>
<body>
<div class="text-center db-title">
    <span>数据库工具</span>
</div>
<div id="appDiv" class="content-center col-center-block">
    <div class="text-center db-step">
        <h2 class="h2">选择不需要导出的表</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="form-inline">
                    <select v-model="schemaSelect" class="form-control">
                        <option v-for="(schema, index) in database.schemas" v-bind:value="index">{{schema.name}}</option>
                    </select>
                    <div class="input-group schema-search-div">
                        <input v-model:value="searchText" class="input-group form-control" placeholder="表名过滤" @keyup.enter="filterTables">
                        <button class="input-group-append btn btn-primary" @click="filterTables">搜索</button>
                    </div>
                </div>
                <table class="table table-light">
                    <thead>
                    <tr class="text-center">
                        <th style="width: 100px" class="text-center">序号</th>
                        <th class="text-center">表名</th>
                        <th class="text-center">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <template v-if="this.database.schemas.length > 0 && this.database.schemas[this.schemaSelect].tables.length > 0">
                        <tr v-for="(table, index) in database.schemas[schemaSelect].tables" class="text-center">
                            <td class="align-middle">{{index + 1}}/{{database.schemas[schemaSelect].tables.length}}</td>
                            <td class="align-middle">{{table.name}}</td>
                            <td><span class="btn btn-outline-success" v-on:click="excludeTable(index)">
                                <i class="fa fa-chevron-right" aria-hidden="true"></i></i> 选择</span></td>
                        </tr>
                    </template>
                    <template>
                        <tr>
                            <td colspan="3" class="text-center">
                                <span v-if="searchText==''">正在努力的加载数据...</span>
                                <span v-if="searchText!=''"><label>{{searchText}}</label> 无匹配数据.</span>
                            </td>
                        </tr>
                    </template>
                    </tbody>
                </table>
            </div>
            <div class="col">
                <div class="input-group schema-search-div">
                    <button class="btn btn-success form-control" @click="dbNext">
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        下一步
                    </button>
                </div>
                <table class="table table-light">
                    <thead>
                    <tr class="text-center">
                        <th style="width: 100px" class="text-center">序号</th>
                        <th class="text-center">表名</th>
                        <th class="text-center">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <template v-if="database.schemas.length > 0 && database.schemas[schemaSelect].excluded != undefined && database.schemas[schemaSelect].excluded.length > 0">
                        <tr v-for="(exclude, index) in database.schemas[schemaSelect].excluded" class="text-center">
                            <td class="align-middle">{{index + 1}}/{{database.schemas[schemaSelect].excluded.length}}</td>
                            <td class="align-middle">{{exclude}}</td>
                            <td><span class="btn btn-outline-danger" v-on:click="includeTable(index)">
                                <i class="fa fa-chevron-left" aria-hidden="true"></i></i> 取消</span></td>
                        </tr>
                    </template>
                    <template v-else>
                        <tr>
                            <td colspan="3" class="text-center"><span>请选择导出需要排除的表...</span></td>
                        </tr>
                    </template>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
</body>
</html>